.carousellContainer{
    width: 96%;

}
.imgCarrusel{
    width: 6.25rem;
    margin-top: 6.25rem;
  
    
    img{
        width: 9.375rem;
    }
}

@media(max-width: 48rem){
    .carousellContainer{
        width: 96%;
    }
    .imgCarrusel{
        width: 3.125rem;
        margin-top: 1.875rem;
      
        
        img{
            width: 5rem;
        }
    }
}