.categoryContainer{
  display: flex;
  flex-direction: column;
  padding-top: 6.25rem;
}
a{
  width: fit-content;
 .btnDelete{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  gap: .625rem;
  background-color: rgb(185, 181, 179);
  font-family: Poppins;
  border-radius: .3125rem;
  border: none;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
  padding: .3125rem;
  font-weight: 600;
} 
}

.filteritemsbtn{
  display: flex;
  height: fit-content;
  gap: .625rem;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  p{
    display: none;
  }
}