.contactContainer {
  display: flex;
align-items: center;
justify-content: center;
  .blocksContainer {
  }
  .formContainer {
    display: flex;
    align-items: center;
    padding: 1.875rem;
    gap: 1.875rem;
    width: 675px;
    height: fit-content;
    flex-shrink: 0;
    background: rgba(40, 71, 43, 0.78);
    .titleContainer{
        display: flex;
        align-items: flex-start;
        width: 70%;
        h1 {
          color: #fff;
          font-family: Poppins;
          font-size: 32px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
    }
    .formInput {
      width: 70%;
    }
    .inp{
        height: 3.125rem;
        font-size: 1.625rem;
        font-family: Poppins;
        font-weight: 600;
        color: rgb(95, 94, 94);
    }
    .message{
        font-size: 1.375rem;
        font-family: Poppins;
        font-weight: 600;
        color: rgb(95, 94, 94);
    }
    .buttonContainer{
        display: flex;
        justify-content: end;
        width: 70%;
        .buttonSend {
          width: 188px;
          height: 56px;
          flex-shrink: 0;
          border-radius: 15px;
          background: #0047ff;
          border: none;
          color: #fff;
          font-family: Poppins;
          font-size: 32px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
    }
  }
}
