.contactContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  
  .back {
    position: absolute;
    height: 2500px;
    width: 100%;
    
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
    filter: grayscale(80%);
  }

  .new {
    width: 900px;
    height: 60rem;
    display: flex;
    align-items: center;
  }

  .blocksContainer {
    display: flex;
    flex-direction: column;

    gap: 10px;

    .block {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: gray;
      width: 225px;
      height: 225px;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 999;
      transition: 0.3s;

      h2 {
        color: #fff;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      p {
        color: #fff;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }

    .block:hover {
      scale: 1.05;
    }
  }

  .formContainer {
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 9.375rem;
    padding: 1.875rem;
    gap: 1.875rem;
    width: 675px;
    height: fit-content;
    flex-shrink: 0;
    background: rgba(40, 71, 43, 0.78);
    margin-top: 0;
    z-index: 500;

    .titleContainer {
      display: flex;
      align-items: flex-start;
      width: 70%;

      h1 {
        color: #fff;
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }

    .formInput {
      width: 70%;
    }

    form {
      display: flex;
      align-items: center;
      gap: 20px;
      width: 100%;
    }

    .inp {
      height: 3.125rem;
      font-size: 1.625rem;
      font-family: Poppins;
      font-weight: 600;
      color: rgb(95, 94, 94);
    }

    .message {
      font-size: 1.375rem;
      font-family: Poppins;
      font-weight: 600;
      color: rgb(95, 94, 94);
    }

    .buttonContainer {
      display: flex;
      justify-content: end;
      width: 70%;

      .buttonSend {
        width: 188px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 15px;
        background: #0047ff;
        border: none;
        color: #fff;
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        transition: 0.2s;
      }

      .buttonSend:hover {
        scale: 1.05;
        background-color: rgb(5, 5, 75);
      }
    }
  }
}

@media (max-width:48rem) {
  .contactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .back {
      position: absolute;
      height: 1200px;
      width: 100%;
      z-index: -2;
      box-shadow: none;
    }

    .new {
      width: 900px;
      height: fit-content;
      display: flex;
      align-items: center;
      margin: 1.25rem;
    }

    .blocksContainer {
      display: none;

    }

    .formContainer {
      position: relative;
      display: flex;
      align-items: center;
      margin-left: 0;
      margin-top: 1.25rem;
      padding: .625rem;
      gap: 1.875rem;
      width: 100%;
      height: fit-content;
      flex-shrink: 0;
      background: rgba(40, 71, 43, 0.78);
      margin-top: 0;
      z-index: 500;

      .titleContainer {
        display: flex;
        align-items: flex-start;
        width: 70%;

        h1 {
          color: #fff;
          font-family: Poppins;
          font-size: 1.25rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }

      .formInput {
        width: 100%;
      }

      .inp {
        height: 3.125rem;
        font-size: 1rem;
        font-family: Poppins;
        font-weight: 600;
        color: rgb(95, 94, 94);
      }

      .message {
        font-size: .875rem;
        font-family: Poppins;
        font-weight: 600;
        color: rgb(95, 94, 94);
      }

      .buttonContainer {
        display: flex;
        justify-content: center;
        width: 70%;

        .buttonSend {
          width: 6.25rem;
          height: 40px;
          flex-shrink: 0;
          border-radius: 15px;
          background: #0047ff;
          border: none;
          color: #fff;
          font-family: Poppins;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
    }
  }
}