.containerProducts {
  display: flex;
  flex-wrap: wrap;
  margin: 1.25rem;
  gap: 1.875rem;
  z-index: 999;
  position: relative;
  .container {
    width: 12.5rem;
    height: 21.875rem;
    .imgContainer {
      .carousel {
        button {
          span {
            color: black;
          }
        }
      }
    }
    .containerDescription {
      button {
        width: 100%;
        position: relative;
        z-index: 999;
        margin-top: 0.625rem;
        height: 1.875rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      h2 {
        font-size: 1.75rem;
        margin-bottom: 0.625rem;
      }
      p {
        margin: 0;
      }
      a {
        text-decoration: none;
      }
    }
  }
}
