.categoryFilterContainer {
  display: flex;
  flex-direction: row;
  .buttonContainer {
    height: fit-content;
    .categoryContainer {
        margin-top: 5rem;
    }
  }
  ul {
    padding-top: 1.25rem;
    width: 80%;
  }
}

@media (max-width: 48rem) {
  .categoryFilterContainer {
    display: flex;
    flex-direction: column;

    .buttonContainer {
      margin-top: 3.125rem;
    
    }
    ul {
      margin: 0;
      padding-top: 0;
      padding-left: 0;
    }
  }
}
