.footerBack {
  width: 100%;
  height: 50rem;
  background-image: url("../../img/hojas.png"), url("../../img/hojas.png"),
    url("../../img/hojas.png"), url("../../img/hojas.png");
  background-position: left top, right top, center top, center top;
  background-size: 43.75rem, 43.75rem, 43.75rem, 43.75rem;
  background-repeat: repeat, repeat, repeat, repeat;
  position: relative;
  .footerContainer {
    height: 43.75rem;;
    width: 100%;
    background: linear-gradient(180deg, #49905aab 0%, #113719c7 100%);
    position: absolute;
    top: 6.25rem;
    left: 0%;
    transform: translate(0%, 12.5rem);
    .upContainer {
      display: flex;
      padding: 3.125rem;
      color: #fff;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      .ulContainer {
        width: 70%;
        text-decoration: underline;
        display: flex;
        align-items: center;
        justify-content: space-between;
        ul {
          list-style: none;
          a{
            text-decoration: none;
            color: white;
          }
          li{
            cursor: pointer;
          }
        }
        .icoContainer{
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .downContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-left: 3.125rem;
      .newContainer{
        display: flex;
        justify-content: flex-start;
        align-items: start;
        flex-direction: column;
      }
      div {
        color: #fff;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        justify-content: left;
        align-items: flex-start;
        margin-bottom: 1.25rem;
        
      }
    }
  }
}

@media(max-width:1000px){
  .footerBack {
    
    .footerContainer {
     height: fit-content;
      .upContainer {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: .9375rem;
        color: #fff;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        div{
          img{
            width: 5rem;
          }
        }
        .ulContainer {
          width: fit-content;
          text-decoration: underline;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          justify-content: space-between;
          ul {
            list-style: none;
            a{
              text-decoration: none;
              color: white;
            }
            li{
              cursor: pointer;
            }
          }
          .icoContainer{
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .downContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-left: .3125rem;
        padding-bottom: 1.875rem;
        gap: 1.25rem;
        .newContainer{
          display: flex;
          justify-content: flex-start;
          align-items: start;
          flex-direction: column;
          div{
            display: flex;
            align-items: center;
            .icoWatsapp{
              
              width: 3.125rem;
            }
            p{
              margin: 0;
            }

          }
        }
        div {
          color: #fff;
          font-family: Poppins;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          display: flex;
          justify-content: left;
          align-items: flex-start;
          margin-bottom: 0;
          
        }
      }
    }
  }
}