
@import url('https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap');




/* 
.miltonian-tattoo-regular {
  font-family: "Miltonian Tattoo", serif;
  font-weight: 400;
  font-style: normal;
} */




html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
