.homeContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .backVideo {
    width: 100%;
    height: 80vh;
    video {
      position: absolute;
      
      width: 100%;
      z-index: -10;
      top: 0;
    }
    .buttonContainer {
      width: fit-content;
      height: 70%;
      position: relative;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 6.25rem;
      align-items: end;
      h1 {
        width: 100%;
        color: #fff;
        font-family: "Miltonian Tattoo";
        font-size: 42px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 12.5rem;
        .sCannavis{
          color: rgb(5, 172, 5);
          font-size: 3rem;
        }
      }
      button {
        width: 175px;
        height: 44px;
        flex-shrink: 0;
        border-radius: 15px;
        background: rgba(49, 174, 62, 0.26);
        color: white;
        color: #fff;
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
  .sendSection {
    width: 100%;
    height: 100%;
    margin-top: 12.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 12.5rem;
    img {
      width: 779px;
      height: 364px;
      flex-shrink: 0;
    }
    .textSend {
      background-color: white;
      position: absolute;
      width: 594px;
      height: 269px;
      flex-shrink: 0;
      text-align: left;
      margin-left: 50rem;
      display: flex;
      align-items: center;
      .h2 {
        padding-left: 6.25rem;
        color: #000;
        font-family: Poppins;
        font-size: 48px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
      .spanSend {
        color: #000;
        font-family: Poppins;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
  .aboutContainer {
    width: 100%;
    height: 663px;
    margin: 3.125rem 0 3.125rem 0;
    background-image: url("../../img/backcannavis.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      padding-left: 1.875rem;
      color: #fff;
      font-family: "Post No Bills Jaffna ExtraBold";
      font-size: 48px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
    p {
      padding-left: 1.875rem;
      color: #fff;
      font-family: Poppins;
      font-size: 28px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
    h3 {
      padding: 1.875rem;
      color: #fff;
      font-family: Poppins;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
  .categoryContainer {
    width: 100%;
    display: flex;
   
    
    gap: 1.875rem;
    .imgContainer {
      display: flex;
      width: 33%;
      flex-direction: column;
      align-items: center;
      padding: 1.875rem;
      img {
        width: 100%;
      }
      h4 {
        margin-top: 1.25rem;
        color: #020202;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      p {
        color: #000;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
    }
  }
}

@media (max-width:1000px){
  .homeContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .backVideo {
      width: 100%;
      height: 100%;
      video {
        position: absolute;
        height: auto;
        width: 100%;
        z-index: -10;
        top: 0;
      }
      .buttonContainer {
        width: fit-content;
        height: fit-content;
        position: relative;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: .625rem;
        align-items: end;
        margin-top: 20%;
        h1 {
          width: fit-content;
          color: #fff;
          font-family: "Miltonian Tattoo";
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-top: 0;
          .sCannavis{
            color: rgb(5, 172, 5);
            font-size: 1.125rem;
          }
        }
      }
    }
    .sendSection {
      width: 100%;
      height: 100%;
      margin-top: 0;
      position: relative;
      display: flex;
      align-items: center;
      display: flex;
      padding-right: .625rem;
      margin-top: 20%;
      img {
        width: 90%;
        height: auto;
        flex-shrink: 0;
      }
      .textSend {
        background-color: #ffffff00;
        position: absolute;
        width: 594px;
        height: fit-content;
        flex-shrink: 0;
        width: fit-content;
        margin-left: 0;
        display: flex;
        align-items: center;
        .h2 {
          padding-left: .625rem;
          color: #ffffff;
          font-family: Poppins;
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 0;
        }
        .spanSend {
          color: #000;
          font-family: Poppins;
          font-size: 1rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
    }
    .aboutContainer {
      width: 100%;
      height: 40%;
      margin: 3.125rem 0 3.125rem 0;
      background-image: url("../../img/backcannavis.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        padding-left: .3125rem;
        color: #fff;
        font-family: "Post No Bills Jaffna ExtraBold";
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        padding-top: .625rem;
      }
      p {
        padding-left: .3125rem;
        color: #fff;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
      h3 {
        padding: .625rem;
        color: #fff;
        font-family: Poppins;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
    .categoryContainer {
      width: 100%;
      display: flex;
     flex-direction: column;
      align-items: center;
      gap: 0;
      .imgContainer {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: .9375rem;
        img {
          width: 100%;
        }
        h4 {
          margin-top: 1.25rem;
          color: #020202;
          font-family: Poppins;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        p {
          color: #000;
          text-align: center;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
        }
      }
    }
  }

}