.homeContainer {
  width: 100%;
  height: 100%;

  .backVideo {
    position: relative;
    width: 100%;
    height: 100%;

    video {
      position: relative;

      width: 100%;
      z-index: -10;
      top: 0;
    }
  }

  .buttonContainer {
    position: absolute;
    top: 25rem;
    width: 100%;
    height: 100%;
    color: white;

    padding-left: 0;
    align-items: start;

    h1 {
      position: absolute;
      width: 100%;
      color: #fff;
      font-family: "Miltonian Tattoo";
      font-size: 42px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 0;
      padding-left: 2.5rem;

      .sCannavis {
        color: rgb(5, 172, 5);
        font-size: 3rem;
      }
    }
    p{
      font-family: Poppins;
      padding-top: 5rem;
      width: fit-content;
      font-size: 1.375rem;
      margin: 2.5rem;
      margin-right: 6.25rem;
    }

    button {
      width: 175px;
      height: 44px;
      flex-shrink: 0;
      border-radius: 15px;
      background: rgba(49, 174, 62, 0.26);
      color: white;
      color: #fff;
      font-family: Poppins;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .mayoristContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 5rem;
    width: 100%;
    margin-top: 0;
    background: rgb(4, 59, 53);
    background: linear-gradient(67deg,
        rgba(4, 59, 53, 1) 0%,
        rgba(4, 59, 53, 1) 28%,
        rgba(56, 133, 124, 1) 62%);

    .wordContainer {
      color: white;
      font-size: 2.5rem;
      font-family: Poppins;
      font-weight: 600;
    }
  }

  .sendSection {
    width: 100%;
    height: 100%;
    margin: 9.375rem 0 6.25rem 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 12.5rem;
    text-shadow: 5px 3px 7px rgba(0, 0, 0, 1);

    img {
      border-radius: 5px;
      box-shadow: 0 0 5px rgb(5, 141, 39), 0 0 5px rgb(6, 129, 53), 0 0 5px rgb(5, 105, 27), 0 0 80px rgb(25, 145, 9);
      width: 779px;
      height: 364px;
      flex-shrink: 0;
    }

    .textSend {
      background-color: white;
      position: absolute;
      width: 25rem;
      height: 269px;
      flex-shrink: 0;
      text-align: left;
      margin-left: 43.75rem;
      display: flex;
      align-items: center;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3),
        /* Sombra principal */
        -2px -2px 2px rgba(255, 255, 255, 0.3),
        /* Sombra invertida clara */
        0px 0px 10px rgba(0, 0, 0, 0.7);
      /* Efecto neón */
      ;
      border-radius: .625rem;
      .h2 {
        padding: 1.25rem;
        color: #000;
        font-family: Poppins;
        font-size: 48px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        
      }

      .spanSend {
        color: #000;
        font-family: Poppins;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }

  .aboutContainer {
    width: 100%;
    height: 663px;
    margin: 3.125rem 0 3.125rem 0;
    background-image: url("../../img/backcannavis.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      padding-left: 1.875rem;
      color: #fff;
      font-family: "Post No Bills Jaffna ExtraBold";
      font-size: 48px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }

    p {
      padding-left: 1.875rem;
      color: #fff;
      font-family: Poppins;
      font-size: 28px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }

    h3 {
      padding: 1.875rem;
      color: #fff;
      font-family: Poppins;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  .categoryContainerProducts {
    width: 100%;
    display: flex;
    background-color: white;

    gap: 1.875rem;

    .imgContainer {
      display: flex;
      width: 33%;
      flex-direction: column;
      align-items: center;
      padding: 1.875rem;

      img {
        width: 100%;
      }

      h4 {
        margin-top: 1.25rem;
        color: #020202;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      p {
        color: #000;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
    }
  }
}

@media (max-width: 1000px) {
  .homeContainer {
    width: 100%;
    height: 100%;

    .containerBack {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      .backVideo {
        width: 100%;
        height: 100%;

        video {
          position: relative;

          width: 100%;
          z-index: -10;
          top: 0;
        }
      }

      .buttonContainer {
        position: absolute;
        top: 10%;
        width: 100%;
        padding-left: 0.625rem;
        margin-top: 0;

        h1 {
          width: fit-content;
          color: #fff;
          font-family: "Miltonian Tattoo";
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-top: 0;
          padding-top: 1.25rem;
          padding-left: 1.25rem;
          .sCannavis {
            color: rgb(5, 172, 5);
            font-size: 1.125rem;
          }
        }
        p{
          font-family: Poppins;
          padding-top: 3.125rem;
          width: fit-content;
          font-size: .75rem;
          margin: 1.25rem;
          margin-right: 1.875rem;
        }
    
      }
    }

    .mayoristContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3.125rem;
      width: 100%;
      margin-top: 0;
      background: rgb(4, 59, 53);
      background: linear-gradient(67deg,
          rgba(4, 59, 53, 1) 0%,
          rgba(4, 59, 53, 1) 28%,
          rgba(56, 133, 124, 1) 62%);

      .wordContainer {
        color: white;
        font-size: 1rem;
        font-family: Poppins;
        font-weight: 600;
      }
    }

    .sendSection {
      width: 100%;
      height: 100%;
      margin-top: 0;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      display: flex;
      padding-right: 0;
      margin-top: 20%;

      img {
        width: 90%;
        height: auto;
        flex-shrink: 0;
      }

      .textSend {
        background-color: #ffffff00;
        position: absolute;
        width: 100%;
        height: fit-content;
        flex-shrink: 0;
        width: fit-content;
        margin-left: 0;
        display: flex;
        align-items: center;
        box-shadow: none;
        .h2 {
          padding: 0;
          color: #ffffff;
          font-family: Poppins;
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0;
        }

        .spanSend {
          color: #000;
          font-family: Poppins;
          font-size: 1rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
    }

    .aboutContainer {
      width: 100%;
      height: 40%;
      margin: 3.125rem 0 3.125rem 0;
      background-image: url("../../img/backcannavis.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        padding-left: 0.3125rem;
        color: #fff;
        font-family: "Post No Bills Jaffna ExtraBold";
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        padding-top: 0.625rem;
      }

      p {
        padding-left: 0.3125rem;
        color: #fff;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }

      h3 {
        padding: 0.625rem;
        color: #fff;
        font-family: Poppins;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }

    .categoryContainerProducts {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;

      .imgContainer {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 0.9375rem;

        img {
          width: 100%;
        }

        h4 {
          margin-top: 1.25rem;
          color: #020202;
          font-family: Poppins;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        p {
          color: #000;
          text-align: center;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
        }
      }
    }
  }
}